* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100%;
}
#header {
    height: calc(75% / 5);
    width: 100%;
    background-color: #D8D8D8;
    padding: 20px 0px 0px 20px;
}
#little-box {
    height: 100px;
    width: 100px;
    background-color: #4A90E2;
    
}
#content {
    height: 25%;
    width: 100%;
}
p {
    padding: 20px 50px;
    font-size: 25px;
}
.bot {
    height: calc(75% / 5);
    width: 100%;
}
.one {
    background-color: #4A90E2;
}
.two {
    background-color: #50E3C2;
}
.three {
    background-color: #B8E986;
}
.four {
    background-color: #F8E71C;
}